{% extends "_base.html" %}
{% block title %}{{ book.title }}{% endblock title %}
{% block content %}
  <div class="book-detail">
    <h2>
      <a href="">{{ book.title }}</a>
    </h2> 
    <p>Author: {{ book.author }}</p> 
    <p>Price: {{ book.price }}</p>
    <div>
      <h3>Reviews</h3>
      <ul>
        {% for review in book.reviews.all %}
        <li>{{ review.review }} ({{ review.author }})</li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock content %}from django.contrib import admin
from django.contrib.auth import get_user_model
from django.contrib.auth.admin import UserAdmin

from .forms import CustomUserChangeForm, CustomUserCreationForm

CustomUser = get_user_model()


class CustomUserAdmin(UserAdmin):
    add_form = CustomUserCreationForm
    form = CustomUserChangeForm
    model = CustomUser
    list_display = [
        "email",
        "username",
        "is_superuser",
    ]


admin.site.register(CustomUser, CustomUserAdmin)
